* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #FFF7ED;
}

h1, h2, h3, h4, h5 {
  font-family: 'Ultra', sans-serif;
}

span, p, a {
  font-family: Montserrat, 'sans-serif';
  text-decoration: none;
}

body {
  padding: 55px;
}